@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@500;600&family=Mali:ital,wght@1,300&family=Marck+Script&family=Stint+Ultra+Condensed&display=swap");

body {
  margin: 0;
  text-align: center;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5cac3;
}

.card-container {
  width: 80%;
  margin: 25px 0 25px 0;
}

.card-container h1 {
  font-family: "Marck Script", cursive;
  font-size: 70px;
  font-weight: 400;
}

.card-container h3 {
  font-family: "Mali", cursive;
  font-size: 25px;
}
.card-container img {
  width: 100%;
  height: 800px;
  background-size: cover;
}

.card-container p {
  font-family: "Stint Ultra Condensed", cursive;
  font-size: 25px;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
}

@media (max-width: 768px) {
  .card-container h1 {
    font-family: "Marck Script", cursive;
    font-size: 40px;
    font-weight: 400;
  }
  .card-container img {
    width: 100%;
    height: 400px;
    background-size: cover;
  }
}
